<h2 class="content-block">Home</h2>

<div class="container">
  <h1>Benvenuto nella nostra azienda!</h1>
  <p>Scopriamo insieme le ultime notizie e gli aggiornamenti:</p>

  <div class="news-container">
    <div class="news-card" *ngFor="let news of newsItems">
      <h2>{{ news.title }}</h2>
      <p>{{ news.content }}</p>
      <!-- <small>{{ news.date|date }}</small> -->
    </div>
  </div>
  <section class="hero">
    <h2>Buon lavoro, Serge Guea</h2>
    <p>Questa è la tua dashboard personale, dove puoi accedere a tutte le informazioni e le funzionalità necessarie per il tuo lavoro.</p>
  </section>

  <section class="widgets">
    <div class="widget">
      <h3>Calendario</h3>
      <img src="calendar.png" alt="Calendario">
      <p>Gestisci le tue attività e gli eventi importanti utilizzando il nostro calendario integrato.</p>
    </div>

    <div class="widget">
      <h3>Task Manager</h3>
      <img src="task.png" alt="Task Manager">
      <p>Tieni traccia dei tuoi compiti e gestisci le tue attività quotidiane con il nostro efficiente Task Manager.</p>
    </div>

    <div class="widget">
      <h3>Risorse</h3>
      <img src="resources.png" alt="Risorse">
      <p>Accedi a tutte le risorse e gli strumenti necessari per svolgere il tuo lavoro in modo efficace.</p>
    </div>
  </section>
</div>
